####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
checkPolicies=true
updateInventory=true
forceCheckAllDependencies=true
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=true
offline=false
forceCheckAllDependencies=true
enableLicenseViolations=true
#dependenciesOnly=true

wss.url=https://saas.whitesourcesoftware.com/agent

npm.resolveDependencies=false
bower.resolveDependencies=false
nuget.resolveDependencies=false
python.resolveDependencies=false
maven.resolveDependencies=false
gradle.resolveDependencies = true
paket.resolveDependencies=false
ruby.resolveDependencies = false
sbt.resolveDependencies=false
html.resolveDependencies=false


##GO Configuration
go.resolveDependencies=false
go.collectDependenciesAtRuntime=true
go.modules.resolveDependencies=true
go.modules.ignoreSourceFiles=true
go.modules.removeDuplicateDependencies=true
go.modules.includeTestDependencies=true
go.modules.includeTestDependencies=true

#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=

projectName=pubsubplus-kubernetes-helm
projectVersion=
projectToken=

productName=pubsubplus-kubernetes-helm
productVersion=v3.3.0
productToken=
updateType=OVERRIDE
#requesterEmail=user@provider.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.go **/*.yaml

case.sensitive.glob=false
followSymbolicLinks=true


##############################################
# SCAN MODE: Linux package manager settings
##############################################
scanPackageManager=false

##################################
# SCAN MODE: Docker images
##################################
docker.includes=**/*
#docker.excludes=.*.*
#docker.scanImages=true
