{{- if .Values.insights.enabled }}
{{- $secretBase := include "solace.fullname" . }}
{{- $insightsSecretName := printf "%s-%s" $secretBase "insights-secrets" }}
{{- $insightsPasswordValue := "" -}}
{{- if .Values.insights.agentSempClient.password }}
  {{- $insightsPasswordValue = .Values.insights.agentSempClient.password }}
{{- else }}
  {{- $insightsPasswordValue = (randAlpha 10)  }}
{{- end }}
{{- $secret := (lookup "v1" "Secret" .Release.Namespace $insightsSecretName) }}
{{- if $secret }}
  {{- $insightsPasswordValue = index $secret.data "username_insights_password" }}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $insightsSecretName }}
  labels:
    app.kubernetes.io/name: {{ template "solace.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
type: Opaque
data:
  username_insights_password: {{ $insightsPasswordValue | b64enc | quote }}
---

{{- $tlsEnabled := .Values.tls.enabled | default false -}}
{{- $sempProtocol := "http" -}}
{{- if $tlsEnabled -}}
  {{- $sempProtocol = "https" -}}
{{- else if hasKey .Values.insights.agentSempClient.connection "protocol" -}}
  {{- if eq .Values.insights.agentSempClient.connection.protocol "https" -}}
    {{- fail "SEMP not available on https when TLS is not enabled for the Broker" -}}
  {{- else -}}
    {{- $sempProtocol = .Values.insights.agentSempClient.connection.protocol -}}
  {{- end -}}
{{- end -}}

{{- $sempPort := .Values.insights.agentSempClient.connection.port -}}
{{- range .Values.service.ports -}}
  {{- if and $tlsEnabled (eq .name "tls-semp") -}}
    {{- $sempPort = .containerPort -}}
  {{- else if and (not $tlsEnabled) (eq .name "tcp-semp") -}}
    {{- $sempPort = .containerPort -}}
  {{- end -}}
{{- end -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "solace.fullname" . }}-monitoring-solace
  labels:
    app.kubernetes.io/name: {{ template "solace.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  solace.yaml: |-
    init_config:
      ## @param host - string - required
      ## The host name of the Solace broker.
      #
      host: "localhost"

      ## @param port - integer - required
      ## The port number on Solace broker host where it accepts SEMP requests.
      #
      port: "{{ $sempPort }}"

      ## @param healthCheckPort - integer - required
      ## The port number on Solace broker host where it accepts health check requests.
      #
      healthCheckPort: 5550

      ## @param username - string - required
      ## The username to use to connect to the Solace broker for SEMP requests.
      #
      username: "insights"

      ## @param password - string - required
      ## The password to use to connect to the Solace broker for SEMP requests.
      #
      password: {{ $insightsPasswordValue | quote }}

      http_protocol: "{{ $sempProtocol }}"

      skip_ssl_validation: "True"

    instances:
      ## @param min_collection_interval - integer - required
      ## the collection interval in minutes of a check instance
      #
      - min_collection_interval: 10
      - min_collection_interval: 30
      - min_collection_interval: 60
      - min_collection_interval: 300

{{ end }}
