{{- if .Values.insights.enabled }}

{{- $tagsArray := .Values.insights.tags -}}
{{- $ddTagsCustomerProvided := "" -}}
{{- $orgId := "" -}}
{{- $serviceId := "" -}}
{{- $serviceName := "" -}}

{{- $existingConfig := (lookup "v1" "ConfigMap" .Release.Namespace (printf "%s-service-info-tags" (include "solace.fullname" .))) -}}

{{- if $existingConfig -}}
    {{- $serviceId = index $existingConfig.data "service_id" -}}
    {{- $serviceName = index $existingConfig.data "service_name" -}}
{{- end -}}

{{- $includeServiceIdTag := true -}}
{{- $includeServiceNameTag := true -}}

{{- range $index, $tag := $tagsArray -}}
  {{- range $key, $value := $tag -}}
    {{- if eq $key "org_id" -}}
      {{- $orgId = $value -}}
    {{- end -}}
    {{- if eq $key "service_id" -}}
      {{- if not $serviceId -}}
        {{- $serviceId = $value -}}
        {{- $includeServiceIdTag = false -}}
      {{- end -}}
    {{- end -}}
    {{- if eq $key "service_name" -}}
      {{- if not $serviceName -}}
        {{- $serviceName = $value -}}
        {{- $includeServiceNameTag = false -}}
      {{- end -}}
    {{- end -}}
    {{- $ddTagsCustomerProvided = printf "%s%s%s:%s" $ddTagsCustomerProvided (ternary "" " " (eq $ddTagsCustomerProvided "")) $key $value -}}
  {{- end -}}
{{- end -}}

{{- if eq $orgId "" -}}
  {{- fail "Organization ID not specified" -}}
{{- end -}}

{{- if not $serviceId -}}
  {{- $serviceId = (randAlpha 6) -}}
{{- end -}}
{{- if not $serviceName -}}
  {{- $serviceName = printf "service_%s" $serviceId -}}
{{- end -}}


{{- $environmentName := .Values.insights.environment_name -}}
{{- $maasDatacenterId := printf "%s_%s" $orgId $environmentName -}}

{{- $serviceType := include "solace.serviceType" . -}}

{{- $ddTagsCalculated := printf "infrastructure_name:%s-%s maas_datacenter_id:%s service_class:%s service_type:%s%s%s"
    (include "solace.fullname" .)
    $serviceId
    $maasDatacenterId
    .Values.solace.size
    $serviceType
    (ternary (printf " service_id:%s" $serviceId) "" ($includeServiceIdTag))
    (ternary (printf " service_name:%s" $serviceName) "" ($includeServiceNameTag))
-}}
{{- $ddTagsDefault := "monitoring_mode:advanced datacenter_access_type:Private datacenter_type:CustomerManaged is_trial:false peb_type:software provider:k8s maas_id:customermanaged" -}}

{{- $ddTags := printf "%s %s %s" $ddTagsDefault $ddTagsCalculated $ddTagsCustomerProvided -}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "solace.fullname" . }}-service-info-tags
data:
  service_id: "{{ $serviceId }}"
  service_name: "{{ $serviceName }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "solace.fullname" . }}-monitoring-insights-env-configs
data:
  DD_SITE: "{{ .Values.insights.datadogSite }}"
  DD_TAGS: "{{ $ddTags }}"
  {{- end }}
